<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="test1.Properties.Settings.TIER_DevelopmentConnectionString"
            connectionString="Data Source=SRVCOSTIER;Initial Catalog=TIER_Development;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="test1.Properties.Settings.TIER_PVBHConnectionString"
            connectionString="Data Source=SRVCOSTIER;Initial Catalog=TIER_PVBH;User ID=TIER;Password=38$bH125"
            providerName="System.Data.SqlClient" />
        <add name="DPGPP.Properties.Settings.TIER_DevelopmentConnectionString"
            connectionString="Data Source=SRVCOSTIER;Initial Catalog=TIER_Development;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DPGPP.Properties.Settings.TIER_PVBHConnectionString"
            connectionString="Data Source=SRVCOSTIER;Initial Catalog=TIER_PVBH;User ID=TIER;Password=38$bH125"
            providerName="System.Data.SqlClient" />
        <add name="RPGPP.Properties.Settings.TIER_PVBHConnectionString"
            connectionString="Data Source=SRVCOSTIER;Initial Catalog=TIER_PVBH;User ID=TIER;Password=38$bH125"
            providerName="System.Data.SqlClient" />
        <add name="RPGPP.Properties.Settings.TIER_DEV2ConnectionString"
            connectionString="Data Source=SRVCOSTIER;Initial Catalog=TIER_DEV2;Persist Security Info=True;User ID=RPPP;Password=RPPP#7353"
            providerName="System.Data.SqlClient" />
        <add name="RPGPP.Properties.Settings.TIER_PVBHConnectionString1"
            connectionString="Data Source=SRVCOSTIER;Initial Catalog=TIER_PVBH;User ID=TIER"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
