<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="test1.Properties.Settings.TIER_DevelopmentConnectionString"
            connectionString="Data Source=SRVCOSTIER;Initial Catalog=TIER_Development;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="test1.Properties.Settings.TIER_PVBHConnectionString"
            connectionString="Data Source=SRVCOSTIER;Initial Catalog=TIER_PVBH;User ID=TIER;Password=38$bH125"
            providerName="System.Data.SqlClient" />
        <add name="DPGPP.Properties.Settings.TIER_DevelopmentConnectionString"
            connectionString="Data Source=SRVCOSTIER;Initial Catalog=TIER_Development;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DPGPP.Properties.Settings.TIER_PVBHConnectionString"
            connectionString="Data Source=SRVCOSTIER;Initial Catalog=TIER_PVBH;User ID=TIER;Password=38$bH125"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>